<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLVB"
            sequence="0"/>
          
        <menuitem name="Quản lý văn bản đến" 
            id="menu_van_ban_den" 
            parent="menu_root" 
            sequence="1"
            action="action_van_ban_den"
        />
    </data>
</odoo>
